:root {
  --background-color: #fff; /* Default background color */
  --btn-color: #222;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --heading-color: #6a11cb;
  --link-color: #2575fc; /* Add this variable if you don't have it */
}

[data-theme="dark"] {
  --background-color: #0e0e0e; /* Dark background for dark theme */
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --heading-color: #2575fc;
}

body {
  background-color: var(--background-color); /* Use the background variable */
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  color: var(--text-color); /* Ensure text color is set */
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: "Roboto Mono", monospace;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust gap as needed */
}

a {
  color: var(--link-color); /* Use the link color variable */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  text-decoration: underline; /* Optional: underline on hover */
}

@media (width >= 800px) {
  #root {
    gap: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2,
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }

  .contactInfo {
    gap: 30px; /* Adjust gap for larger screens */
  }
}

@media (width >= 1400px) {
  #root {
    gap: 200px;
  }

  h1 {
    font-size: 48px;
  }

  .sectionTitle {
    margin-bottom: 75px;
  }

  .contactInfo {
    gap: 40px; /* Further adjust gap for even larger screens */
  }
}
